@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0 auto;
    padding: 0;
}
/* Shared styles*/
.display_flex{
    display: flex;
}

.text-dark-color{
    color: rgb(255, 255, 255);
}

.text-light-color{
    color: rgba(255, 255, 255, 0.5);
}
.bgcl{
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(26 26 26 / 81%) 100%);
    height: 725px;

}
.bgc{
    background-color: rgb(0,0,0);
}

.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    width: 224px;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px;
    cursor: pointer;
    border-style: none;
    color: rgb(255, 255, 255);
}

.shared-title{
    font-size: 3rem;
    font-weight: 900;
}
.shared-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    width: 651px;

}

/* header styles*/

/* navbar styles*/
.hamburger-menu{
    display: none;
}
.nav_bar{
    justify-content: space-between;
    align-items: center;
    padding-top: 58.5px;
}
.nav-items{
    list-style: none;
    margin-right: 67px;
}
.nav-links {
    margin-right: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    padding: 4px;
    width: 540px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
}
#selected{
    width: 92px;
    text-align: center;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
}
.brand_name{
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
    font-weight: 800;
    margin-left: 0px;
}

.nav_bar, .banner, .habit-contents , .run-content , .meet-contents, .footer-section{
    max-width: 1156px;
}

/* Banner styles */

.banner-content{
    align-items: center;
}
.banner-text{
    max-width: 498px;
    margin-top: 96px;
    margin-bottom: 76px;
    margin-left: 0px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
}
.fancy-text{
    font-size: 4.875rem;
    font-weight: 900;
}
.banner-description{
    font-size: 1rem ;
    margin: 28px 0px;
}
.banner-img{
    max-width: 341px;
    margin-top: 32px;
}
.banner-img img{
   width: 100%;
}
.btn-second{
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    width: 224px;
    border-radius: 42px;
    padding: 16px 40px;
    cursor: pointer;
    margin-left: 14px;
    background:none;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
}
.badge-txt1{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}
.badge-desc1, .badge-desc2{
    color: rgba(239, 237, 232, 0.65); 
    font-size: 1rem;
    font-weight: 400;
}
.btn-badge1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    width: 193px;
    height: 98px;
    align-items: center;
    margin-left: -104px;
    margin-top: -162px;
}
.badge-txt2{
    font-size: 2.5rem;
    font-weight: 900;
}
.btn-badge2 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: -459px;
    margin-right: -90px;
}
.badge2-contents{
    padding: 15px 11px 15px 20px;
}
/*habit styles start */

.habit{
    padding-top: 100px;
}
.habit-title{
    text-align: center;
    margin-bottom: 14px;
}
.habit-desc{
    text-align: center;
}
.habit-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 58px;
}
.card1{
    width: 231px;
    height: 274px;
    text-align: center;
}
.card1 h4 {
    margin-top: 30px;
    font-size: 1.125rem ;
    font-weight: 600;
}
.card1 p {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 6px;
}
.card1 img{
    border-radius: 50%;
}
