@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0 auto;
    padding: 0;
}
/* Shared styles*/
.display_flex{
    display: flex;
}

.text-dark-color{
    color: rgb(255, 255, 255);
}

.text-light-color{
    color: rgba(255, 255, 255, 0.5);
}
.bgcl{
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(26 26 26 / 81%) 100%);
    height: 725px;

}
.bgc{
    background-color: rgb(0,0,0);
}

.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    width: 224px;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px;
    cursor: pointer;
    border-style: none;
    color: rgb(255, 255, 255);
}

.shared-title{
    font-size: 3rem;
    font-weight: 900;
}
.shared-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    width: 651px;

}

/* header styles*/

/* navbar styles*/
.hamburger-menu{
    display: none;
}
.nav_bar{
    justify-content: space-between;
    align-items: center;
    padding-top: 58.5px;
}
.nav-items{
    list-style: none;
    margin-right: 67px;
}
.nav-links {
    margin-right: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    padding: 4px;
    width: 540px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
}
#selected{
    width: 92px;
    text-align: center;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
}
.brand_name{
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
    font-weight: 800;
    margin-left: 0px;
}

.nav_bar, .banner, .habit-contents , .feedbacks-contents, .run-content , .meet-contents, .footer-section, .bmi-text, .bmi-contents{
    max-width: 1156px;
}

/* Banner styles */

.banner-content{
    align-items: center;
}
.banner-text{
    max-width: 498px;
    margin-top: 96px;
    margin-bottom: 76px;
    margin-left: 0px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
}
.fancy-text{
    font-size: 4.875rem;
    font-weight: 900;
}
.banner-description{
    font-size: 1rem ;
    margin: 28px 0px;
}
.banner-img{
    max-width: 341px;
    margin-top: 32px;
}
.banner-img img{
   width: 100%;
}
.btn-second{
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    width: 224px;
    border-radius: 42px;
    padding: 16px 40px;
    cursor: pointer;
    margin-left: 14px;
    background:none;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
}
.badge-txt1{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}
.badge-desc1, .badge-desc2{
    color: rgba(239, 237, 232, 0.65); 
    font-size: 1rem;
    font-weight: 400;
}
.btn-badge1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    width: 193px;
    height: 98px;
    align-items: center;
    margin-left: -104px;
    margin-top: -162px;
}
.badge-txt2{
    font-size: 2.5rem;
    font-weight: 900;
}
.btn-badge2 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: -459px;
    margin-right: -90px;
}
.badge2-contents{
    padding: 15px 11px 15px 20px;
}
/*habit styles start */

.habit{
    padding-top: 100px;
}
.habit-title{
    text-align: center;
    margin-bottom: 14px;
}
.habit-desc{
    text-align: center;
}
.habit-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 58px;
}
.card1{
    width: 231px;
    height: 274px;
    text-align: center;
}
.card1 h4 {
    margin-top: 30px;
    font-size: 1.125rem ;
    font-weight: 600;
}
.card1 p {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 6px;
}
.card1 img{
    border-radius: 50%;
}
/* run styles starts */

.run{
    padding: 100px 0px;
}
.run-content{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.run-content-text{
    width: 443px;
    margin-left: 54px;
}
.run-content-text h2 {
    margin-bottom: 14px;
}
.run-content-text p{
    margin-bottom: 34px;
}

.run-content-img{
    width: 400px;
    margin-right: 54px;
}

.run-content-img img{
    width: 100%;
    border-radius: 18px;
}

/* BMI calculator starts*/
.bmi-text{
    padding-bottom: 88px;
    text-align: center;
}
.bmi-container{
    background-color: #222222;
}
.bmi-contents{
    justify-content: space-between;
  padding-top: 52px;
}
.bmi{
    padding-bottom: 88px;
}
.bmi-right-contents {
    margin-right: 0px;
    width: 577px;
    margin-left: 0px;
}
.bmi-left-contents {
    margin-left: 0px;
    width: 315px;
    margin-right: 0px;
}

.bmi-right-contents p{
    width: 575px;
}
.bmi-right-contents h4 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.bmi-left-contents h4{
    font-size: 1.75rem;
    font-weight: 900;
} 

table, th ,td {
    border: 1px solid rgba(255,255,255,0.1);
}
table{
    border-collapse: collapse;
    width: 310px;
    margin-top: 56px;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 13px 18px;
}
th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 13px 18px;
}
input[name]{
    width: 43%;
    padding: 20px 17px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
}
#activity{
    width: 99%;
    padding: 14px 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;

}
input[type="button"]{
    margin-bottom: 52px;
    margin-top: 34px;
}
select{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}
input, ::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}
#gender{
    width: 49%;
    padding: 20px 17px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
}
.bmi-form{
    margin-top: 34px;
}

/* Meet styles starts */
.meet{
    padding-bottom: 8px;
}
.meet-text h2, .meet-text p {
    text-align: center;
}

.m-card h5{
    font-weight: 700;
    font-size: 1.2rem;
}
.m-card-txt{
    left: 17px;
    position: relative;
    top: -70px;

}

.m-card p{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2px;
}
.meet-text p{
    margin-top: 14px;
}
.meet-cards{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 58px;
    margin-bottom: 75px;
    justify-items: center;

}
.m-card{
    width: 359px;
    height: 272px;
    padding: 20px;

}
.m-card img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: brightness(0.7);
}
.m-card:nth-child(2){
    padding-left: 0px;
    padding-right: 0px;
}
.m-card:nth-child(5){
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.m-card:nth-child(6), .m-card:nth-child(4){
    padding-top: 0px;
}



/* Feedback Styles starts */

.feedbacks{
    padding-bottom: 8px;
}
.feedbacks-text h2 , .feedbacks-text p {
    text-align: center;
}
.feedbacks-text p {
    margin-top: 14px;
}
.feedbacks-cards{
    border-radius: 18px;
    border: 2px dotted rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 58px;
    margin-bottom: 75px;
    justify-items: center;
    height: 354px;
}
.feed-card{
    width: 359px;
    height: 272px;
    padding: 20px;
}
.feed-video{
    width: 100%;
    height: 100%;
}

.feedback-card-txt{
    padding-top: 10px;
}
.feed-card-title{
    font-size: 1rem;
    font-weight: 700;
}
.checked {
    color: orange;
}
/* Footer styles */
.footer-cont{
    background-color: rgba(26,26,26);
}
.footer-section{
    padding-top: 66px;
    padding-bottom: 79px;
}
.footer-left-content{
    width: 443px;
    margin-left: 0px;
}
.footer-left-content h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 800;
}
.footer-left-content p{
    margin-top: 20px;
    font-size: 0.875rem;
    line-height: 22px;
}
.footer-right-content{
    width: 514px;
    margin-right: 0px;
}
.footer-right-content h4{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 39px;
}
.footer-right-content  ul  li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 1.1rem;
}
.footer-right-content  ul  li{
    list-style:none;
    padding-bottom: 20px;
}
.get-started{
    margin-left: 0px;
    margin-right: 0px;
}
.company{
    margin-left: 0px;
}
hr{
    max-width: 1156px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.reserved p {
    font-size: 1rem;
    text-align: center;
    padding: 20px 0px;
}

/* Media Query starts */

@media screen and (max-width: 576px){
    .hamburger-menu{
       display: block;
       margin: 0px;
       color: white;
       font-size: 1.5rem;
    }
    .nav-links{
       display: none;
    }
    .nav_bar, 
    .banner,
    .habit-contents,
    .run-content,
    .meet-contents,
    .footer-section,
    .reserved,
    .bmi-text,
    .bmi-left-contents,
    .bmi-right-contents
    {
       width: 350px;
       margin: 0 auto;
    }
    .banner-content{
       flex-direction: column;
    }
    .banner-title{
       font-size: 2.25rem;
    }
    .banner-text{
       margin-top: 50px;
       margin-bottom: 50px;
    }
    .btn{
        display: flex;
     }
     .btn-primary{
        width: 169px;
        font-size: 1rem;
        padding: 17px 18px;
    }
    
    .btn-second{
        font-size: 1rem;
        width: 169px;
        padding: 17px 18px;
    }
   .banner-img{
    margin-top: 0px;
   }
   .shared-description {
    font-size: 0.9rem;
    line-height: 20px;
    width: 288px;
}
   .bgcl{
        background: linear-gradient(180.00deg, rgb(14 14 14), rgb(0 0 0 / 85%) 100%);
        height: 100%;
   }
    .banner-right-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .btn-badge1 {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 9px;
        background: rgba(48, 48, 48, 0.54);
        width: 150px;
        height: 70px;
       position: relative;
       top:-149px;
       left: 104px;
    }
    .circle {
        width: 30px;
        height: 30px;
    }
    .btn-badge2 {
        width: 130px;
        height: 70px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.1);
        margin-top: -534px;
        margin-right: 10px;
    }
    .badge-txt2{
        font-size: 1.8rem;
    }
    .badge-desc2{
        font-size: 0.6rem;
    }
    .badge-desc1{
        font-size: 0.8rem;
    }
    .badge2-contents {
        padding: 11px 9px 11px 20px;
    }
    .badge-txt1{
        font-size: 1.1rem;
    }
    .habit{
        padding:0px;
    }
    .habit-title{
        font-size: 2rem;
    }
    .habit-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .card1{
        margin-bottom: 40px;
    }
    .run{
        padding: 40px 0px;
    }
    .run-content {
        flex-direction: column;
        padding-bottom: 0px;
    }
    .run-content-text{
        width: 288px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .run-content-img{
        width: 288px;
        margin: 30px;
    }
    .run-content-text h2{
        font-size: 2rem;
        width: 273px;
    }
    .run-content-text h2 br {
        display: none;
    }
    .mob-btn{
        width:288px;
    }
    .meet-text h2{
        font-size: 2rem;
    }
    .meet-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .m-card{
        width: 310px;
    }
    .m-card:nth-child(2){
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .footer-section, .footer-right-content{
        flex-direction: column;
        width: 350px;
    }
    .footer-left-content{
        width: 317px;
    }
    .footer-right-content{
        margin-top: 30px;
    }
    .footer-section {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    .bmi-contents{
        flex-direction: column;
    }
    .bmi-left-contents h4 {
        font-size: 1rem;
    }
    .bmi-right-contents{
        padding-top: 42px;
    }
    .bmi-right-contents h4{
        font-size: 1rem;
    }
    .bmi-right-contents p{
        font-size: 0.8rem;
        width: 350px;
    }
    input[name]{
        width: 39%;
    }
    input[type="button"]{
        width: 230px;
    }
    table{
        margin: 56px 0px 0px 0px;
    }

    .feedbacks-text h2 {
        font-size: 2rem;
    }
    .feedbacks-cards{
        grid-template-columns: repeat(1,1fr);
    }
 }